
body {
	font-family: Arial,Sans-serif,serif;
	margin: 0;
	
	color: red;
	background-color: orange;
}
.hero-image {
	background-image: url("banner2.jpg");
	background-size: cover;
	background-position-x: center;
	background-position-y:  center;
	min-height: 300px;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.topnav {
	overflow: hidden;
	background-color: black;
	transition: 0.5s
	
}

.topnav a {
	float: left;
	display: block;
	color: green;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: 0.5s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative; }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
   
  }
  .topnav.responsive i {
    transition: transform 1s;      
  transform: rotate(180deg);


    }
      .topnav i {
    transition: transform 1s;      



    }
    

}

.image {
	display: block;
	width: 100%;
	height: 100%;
}
.image2 {
	display: block;
	margin-left: auto;
	margin-right: auto;

	overflow: hidden;
}
headers {
	text-align: center;

	
}
h2 { 
   position: absolute; 
   text-align: center;
   top: 5%; 
   left: 0; 
   width: 100%; 
}
h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  

   padding: 10px; 
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
mainbody {
		
	max-width: 95%;
	padding: 50px;
}
footer  {
	color: orange;
	text-align: right;
	bottom: 0;
	background-color: red;
}
.columns {
	margin: auto;
	width: auto;
	padding-left: 10px;
	padding-right: 5px;
	position: relative;
	color: green;
	background-color: lightblue;
	border: 5px;

	
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}


p {
    font-family: 'Fira Sans', sans-serif;
}
